<p-toast position="center" [style]="{ width: '340px' }">
    <ng-template let-message pTemplate="message">
        <div class="custom-toast">
            @if (message.severity === 'success') {
                <i class="fa-light fa-thumbs-up custom-toast-icon"></i>
            } @else if (message.severity === 'warn') {
                <i class="fa-light fa-circle-exclamation custom-toast-icon"></i>
            } @else if (message.severity === 'error') {
                <i class="fa-light fa-circle-xmark custom-toast-icon"></i>
            } @else {
                <i class="fa-light fa-circle-info custom-toast-icon"></i>
            }
            <div class="toast-text">
                <span class="toast-summary">{{ message.summary }}</span>
                @if (message.detail) {
                    <span class="toast-detail">{{ message.detail }}</span>
                }
            </div>
        </div>
    </ng-template>
</p-toast>
@if (breakpoint.isDesktopNotice()) {
  <app-desktop-notice />
} @else {
  <router-outlet />
}
