@if (destination(); as dest) {
  <div class="detail-panel">

    <h1 class="dest-name">{{ dest.name }}</h1>

    @if (dest.image?.length) {
      <div class="galleria-wrap">
        <p-galleria
          [value]="dest.image!"
          [circular]="true"
          [showItemNavigators]="dest.image!.length > 1"
          [showThumbnails]="dest.image!.length > 1"
          [numVisible]="4">
          <ng-template #item let-img>
            <div class="galleria-img" [style.background-image]="'url(' + img.url + ')'"></div>
          </ng-template>
          <ng-template #thumbnail let-img>
            <div class="galleria-thumb" [style.background-image]="'url(' + img.url + ')'"></div>
          </ng-template>
        </p-galleria>
      </div>
    } @else {
      <div class="galleria-wrap">
        <div class="galleria-img" [style.background-image]="'url(' + dest.photo + ')'"></div>
      </div>
    }

    <div class="tourism-link">
      <a [href]="dest.url" target="_blank" rel="noopener">Switzerland Tourism</a>
    </div>

    <div class="content">
      <p class="abstract" [innerHTML]="dest.abstract"></p>

      <div class="action-grid">
        <button class="plan-btn" type="button" (click)="openTripPlanner()">
          <i class="fa-solid fa-route"></i>
          {{ 'destinations.detail.planTrip' | translate }}
        </button>

        <div class="weather-box">
          @if (weatherLoading()) {
            <div class="weather-skeleton"></div>
          } @else if (todayWeather(); as w) {
            <div class="weather-card-inner">
              <span class="weather-title">{{ 'weather.today' | translate }}</span>
              <div class="weather-main-row">
                <i [class]="w.weatherCode.icon + ' weather-icon'"></i>
                <span class="weather-temp">{{ w.maxTemp }}°C</span>
              </div>
              <span class="weather-desc">{{ w.weatherCode.label }}</span>
              <button class="forecast-link" type="button" (click)="openWeather()">
                {{ 'weather.seeForecast' | translate }}
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
          } @else {
            <div class="weather-unavailable">
              <i class="fa-light fa-cloud weather-icon"></i>
              <span class="weather-temp">--°C</span>
            </div>
          }
        </div>
      </div>
    </div>

    <app-attraction-vertical-list [destinationId]="dest.identifier" />

  </div>
}
