:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

:host ::ng-deep .header-nav.p-menubar {
  background: var(--navy-800);
  border: none;
  border-radius: 0;
  padding: 0.50rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host ::ng-deep .header-nav .p-menubar-start {
  flex: 1;
}

:host ::ng-deep .header-nav .p-menubar-end {
  flex: 0 0 auto;
}

:host ::ng-deep .toggle-btn .p-button {
  color: var(--color-white);
}

:host ::ng-deep .toggle-btn .p-button {
  background: var(--navy-300) !important;
  border-radius: 8px;
  box-shadow: none;
}

:host ::ng-deep .toggle-btn .p-button:focus,
:host ::ng-deep .toggle-btn .p-button:focus-visible,
:host ::ng-deep .toggle-btn .p-button:hover {
  background: var(--navy-100) !important;
}

.brand {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-white);
  letter-spacing: 0.01em;
}
