<div class="map-wrapper">
  <app-map [markers]="displayMarkers()" [zoom]="12" [center]="center()" [activeMarker]="selectedMarker()" (markerClick)="onMarkerClick($event)"></app-map>
</div>

<div class="reopen-btns">
  @if (!drawer.isOpen('destination-detail') && destination()) {
    <button class="reopen-btn" type="button" (click)="openDetail()">
      <i class="fa-solid fa-map-location-dot"></i>
      {{ 'destinations.detail.open' | translate }}
    </button>
  }
  @if (destination() && !drawer.isOpen('all-attractions') && !drawer.isCollapsed('all-attractions')) {
    <button class="reopen-btn" type="button" (click)="listAllAttractions()">
      <i class="fa-solid fa-list"></i>
      {{ 'attractions.listAll' | translate }}
    </button>
  }
  @if (drawer.isCollapsed('all-attractions')) {
    <button class="reopen-btn" type="button" (click)="reopenAllAttractions()">
      <i class="fa-solid fa-list"></i>
      {{ 'attractions.openAll' | translate }}
    </button>
  }
</div>
