<div class="map-wrapper">
  <app-map
    [markers]="displayMarkers()"
    [zoom]="12"
    [center]="center()"
    [activeMarker]="selectedMarker()"
    [trailRoute]="trailRoute()"
    [trailColor]="trailColor()"
    (markerClick)="onMarkerClick($event)"></app-map>
</div>

<div class="reopen-btns">
  @if (!drawer.isOpen('destination-detail') && destination(); as dest) {
    <button class="reopen-btn" type="button" (click)="openDetail()">
      <i class="fa-solid fa-map-location-dot"></i>
      {{ 'destinations.detail.open' | translate: { name: dest.name } }}
    </button>
  }
  @if (destination() && attractionMarkers.hasAttractions() && !drawer.isOpen('all-attractions') && !drawer.isCollapsed('all-attractions')) {
    <button class="reopen-btn" type="button" (click)="listAllAttractions()">
      <i class="fa-solid fa-list"></i>
      {{ 'attractions.listAll' | translate }}
    </button>
  }
  @if (attractionMarkers.hasAttractions() && drawer.isCollapsed('all-attractions')) {
    <button class="reopen-btn" type="button" (click)="reopenAllAttractions()">
      <i class="fa-solid fa-list"></i>
      {{ 'attractions.openAll' | translate }}
    </button>
  }
  @if (hikeMarkers.hasRoutes() && drawer.isCollapsed('hikes')) {
    <button class="reopen-btn" type="button" (click)="reopenHikes()">
      <i class="fa-solid fa-person-hiking"></i>
      {{ 'hikes.reopen' | translate }}
    </button>
  }
  @if (hikeMarkers.hasRoutes() && drawer.isCollapsed('hike-detail')) {
    <button class="reopen-btn" type="button" (click)="reopenHikeDetail()">
      <i class="fa-solid fa-route"></i>
      {{ 'hikes.reopenDetail' | translate }}
    </button>
  }
  @if (bikeMarkers.hasRoutes() && drawer.isCollapsed('bikes')) {
    <button class="reopen-btn" type="button" (click)="reopenBikes()">
      <i class="fa-solid fa-bicycle"></i>
      {{ 'bikes.reopen' | translate }}
    </button>
  }
  @if (bikeMarkers.hasRoutes() && drawer.isCollapsed('bike-detail')) {
    <button class="reopen-btn" type="button" (click)="reopenBikeDetail()">
      <i class="fa-solid fa-route"></i>
      {{ 'bikes.reopenDetail' | translate }}
    </button>
  }
</div>
