<div class="elev-chart-wrap">
  <svg
    #svgEl
    class="elev-chart"
    [attr.viewBox]="'0 0 ' + viewW + ' ' + viewH"
    preserveAspectRatio="none"
    tabindex="0"
    role="img"
    [attr.aria-label]="ariaLabel"
    (pointermove)="onPointerMove($event)"
    (pointerleave)="onPointerLeave()"
    (focus)="onFocus()"
    (blur)="onBlur()"
    (keydown)="onKeydown($event)">

    @for (tick of yTicks; track tick.label) {
      <line class="elev-gridline" [attr.x1]="0" [attr.x2]="viewW" [attr.y1]="tick.pos" [attr.y2]="tick.pos" />
      <text class="elev-axis-label elev-axis-label--y" x="2" [attr.y]="tick.pos - 2">{{ tick.label }}</text>
    }

    <line class="elev-baseline" [attr.x1]="0" [attr.x2]="viewW" [attr.y1]="baselineY" [attr.y2]="baselineY" />

    <path class="elev-area" [attr.d]="areaPath" />
    <path class="elev-line" [attr.d]="linePath" />

    @for (tick of xTicks; track tick.label) {
      <text class="elev-axis-label elev-axis-label--x" [attr.x]="tick.pos" [attr.y]="viewH - 4">{{ tick.label }} km</text>
    }

    @if (hoverPoint; as hp) {
      <line class="elev-crosshair" [attr.x1]="hp.x" [attr.x2]="hp.x" [attr.y1]="0" [attr.y2]="baselineY" />
      <circle class="elev-hover-dot" [attr.cx]="hp.x" [attr.cy]="hp.y" r="3.5" />
    }
  </svg>

  @if (hoverPoint; as hp) {
    <div class="elev-tooltip" [style.left.%]="hoverLeftPct" [style.top.%]="hoverTopPct">
      <strong>{{ hp.elevation | number:'1.2-2' }} m</strong>
      <span>{{ hp.distanceKm | number:'1.1-1' }} km</span>
    </div>
  }
</div>
