<div class="map-wrapper">
  <app-map
    [markers]="displayedTripAttractionMarkers()"
    [center]="center()"
    [zoom]="mapZoom()"
    [tripRoute]="displayedTripRoute()"
    [tripType]="tripType()"
    [tripStopPoints]="displayedTripStopPoints()"
    [fitBounds]="tripBounds()"></app-map>
</div>

<div class="reopen-btns">
  @if (destination()) {
    <button class="reopen-btn" type="button" (click)="backToDestination()">
      <i class="fa-sharp fa-solid fa-circle-arrow-left"></i>
      {{ 'attractions.backToDestination' | translate }}
    </button>
  }
  @if (!drawer.isOpen('trip-planner')) {
    <button class="reopen-btn" type="button" (click)="reopenTripPlanner()">
      <i class="fa-light fa-route"></i>
      {{ 'trip.planner.open' | translate }}
    </button>
  }
</div>
