:host {
  display: block;
  position: absolute;
  inset: 0;
}

.map-container {
  width: 100%;
  height: 100%;
}

.map-marker-icon {
  font-size: 1.5rem;
  color: #d97706;
  /* filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4)); */
  cursor: pointer;
}
